# ==========================================================
# Automation Lab
# ==========================================================

# Timezone
TZ=America/Sao_Paulo

# ==========================================================
# Docker Images
# ==========================================================

POSTGRES_VERSION=16

# Defina a versão estável do n8n que você deseja utilizar
N8N_VERSION=2

# ==========================================================
# PostgreSQL
# ==========================================================

POSTGRES_DB=n8n

POSTGRES_USER=n8n

POSTGRES_PASSWORD=changeme

POSTGRES_PORT=5432

# ==========================================================
# n8n
# ==========================================================

N8N_PORT=5678